﻿@model IEnumerable<IESOK.Models.SFP>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAZWA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TERMIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROCENTP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RODZAJ)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAZWA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TERMIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROCENTP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RODZAJ)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDSFP }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDSFP }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDSFP })
        </td>
    </tr>
}

</table>
