﻿@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br>
<p><a class="btn btn-default" href="/doks/Index">Dokumenty</a></p>
<br>
<p><a class="btn btn-default" href="/dops/Index">Pozycje dokumentu</a></p>
<br>
<p><a class="btn btn-default" href="/ktws/Index">Towary</a></p>
<br>
<p><a class="btn btn-default" href="/mags/Index">Magazyn</a></p>
<br>
<p><a class="btn btn-default" href="/kkhs/Index">Kontrahenci</a></p>
<br>
<p><a class="btn btn-default" href="/Home/Slowniki">Słowniki</a></p>
<br>
